@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

/* Página Blog */

.blog-section {
    padding-top: 8rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding-bottom: 1rem;

        @include breakpoint(desktop) {
            padding-top: 5rem;
        }
    }

    &__title {
        position: relative;

        &-text {
            color: $green;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 220%;

            >span {
                font-size: 5rem;
            }
        }

        &-decoration {
            position: absolute;
            width: 10rem;
            top: -37%;
            right: -45%;

            @include breakpoint(desktop) {
                animation: latido-suave 2s ease-in-out infinite;
                display: inline-block;
            }
        }
    }

    &__subtitle {
        color: $white;
        width: 70%;
        font-size: 1.35rem;
        font-weight: lighter;
        text-align: center;
        padding-bottom: 0rem;
    }

    &__posts {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    @include breakpoint(tablet) {
        &__title {
            &-text {
                text-align: center;
                font-size: 3rem;
                line-height: 190%;

                >span {
                    font-size: 9rem;
                }
            }

            &-decoration {
                width: 12rem;
                top: -33%;
                right: -35%;

            }
        }

        &__subtitle {
            font-size: 2rem;
        }
    }

    @include breakpoint(desktop) {
        &__posts {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 3rem;
        }
    }
}

/* Blog Post */
.blog-post {
    border-radius: 1.5rem;
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;

    .comic-top {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .comic-bottom {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 0;
    }

    &__content {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
        width: 100%;
    }

    &__title {
        font-size: 2.5rem;
        text-align: center;
        line-height: 125%;
        width: 100%;
        color: $black;
    }

    &__excerpt {
        font-family: $font-secondary;
        font-size: 1.15rem;
        line-height: 1.6;
        text-align: center;
        width: 100%;
        color: $black;
        font-weight: 300;
    }

    &__video {
        width: 100%;
        max-width: 560px;
        margin: 1rem 0;
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        overflow: hidden;
        border-radius: 1rem;
        border: 3px solid $black;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
        }
    }

    .btn {
        z-index: 1;
    }

    /* Colors */
    &--yellow {
        background-color: $yellow;
    }

    &--violet {
        background-color: $violet;
    }

    &--orange {
        background-color: $orange;
    }

    &--blue {
        background-color: $blue;
    }

    &--green {
        background-color: $green;
    }

    @include breakpoint(tablet) {
        padding: 3rem 3.5rem;

        &__title {
            font-size: 3.5rem;
        }

        &__excerpt {
            font-weight: 700;
        }

        &__video {
            max-width: calc(560px + 4rem);
        }
    }

    @include breakpoint(desktop) {
        height: 100%;
        
        &__content {
            height: 100%;
            justify-content: space-between;
        }

        &__title {
            min-height: 10rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__excerpt {
            flex-grow: 1;
        }
    }
}